.sektsioon:first-of-type h1 {
    font-size: 48px;
    text-align: center;
    letter-spacing: 2px;
}

.pilt-keskus img {
    width: auto;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}