body {
    background-image: url('sabrina2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


.nupp {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.nupp:hover {
    background-color: rgba(255, 255, 255, 0.3);
}